<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'errors', book: @book %>
    <%= render 'users/userinfo', user: @book.user %>
    <h2 class="mt-3">New book</h2>
    <%= render 'newbook', book: Book.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
                <%= image_tag @book.user.get_profile_image("100×100") %><br><%= @book.user.name %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.favorited_by?(current_user) %>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <i class="fa-solid fa-heart" style="color: #d23232;"></i><%= @book.favorites.count %>
                  <% end %>
                <% else %>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <i class="fa-solid fa-heart"></i><%= @book.favorites.count %>
                  <% end %>
                <% end %>
            </td>
            <td>コメント数:<%= @book.book_comments.count %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success edit_book_path_#{@book.id}" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn- sm btn-danger destroy_book_#{@book.id}"%></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <% @book.book_comments.each do |book_comment| %>
        <tr>
        <td>
          <%= image_tag book_comment.user.get_profile_image("100x100") %><br><%= book_comment.user.name %>
        </td>
          <td><%= book_comment.comment %></td>
          <td>
            <% if book_comment.user == current_user %>
              <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
            <% end %>
          </td>
          </tr>
        <% end %>
      </table>
      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5' %>
          <%= f.submit "送信", method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</div>